/* ===================================================== */
/* Globals                                               */
/* ===================================================== */

:root {
  /* Colors */
  --green: #538d4e;
  --yellow: #b59f3b;
  --white: #ffffff;
  --black: #121213;
  --dgrey: #3a3a3c;
  --mgrey: #565758;
  --lgrey: #7f8182;
  /* Durations */
  --shake-duration: 500ms;
  --inputting-duration: 100ms;
}

* {
  margin: 0;
  padding: 0;
  user-select: none;
}

body {
  background-color: var(--black);
}

p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* ===================================================== */
/* Tiles                                                 */
/* ===================================================== */

/* The grid */

.tilegrid {
  --gap: 1rem;
  max-width: 400px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: var(--gap);
  grid-template-rows: repeat(6, 1fr);
  row-gap: var(--gap);
  margin: 0 auto;
}

/* The tiles */

.tile {
  background-color: var(--black);
  border: 0.2rem solid var(--dgrey);
  width: 100%;
  height: 100%;
  aspect-ratio: 1;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tile.inputted {
  border-color: var(--mgrey);
}

.tile.grey {
  background-color: var(--dgrey);
  border-color: var(--dgrey);
}

.tile.yellow {
  background-color: var(--yellow);
  border-color: var(--yellow);
}

.tile.green {
  background-color: var(--green);
  border-color: var(--green);
}

.shaking {
  animation-name: shaking;
  animation-duration: var(--shake-duration);
}

@keyframes shaking {
  from {
    transform: translate(0);
  }

  16.66% {
    transform: translate(1rem);
  }

  33.33% {
    transform: translate(-1rem);
  }

  50% {
    transform: translate(1rem);
  }

  66.66% {
    transform: translate(-1rem);
  }

  83.33% {
    transform: translate(1rem);
  }

  to {
    transform: translate(0);
  }
}

.flip {
  animation-name: flip;
  animation-timing-function: ease-in;
  animation-duration: 300ms;
}

@keyframes flip {
  from {
    transform: scaleY(1);
  }

  to {
    transform: scaleY(0);
  }
}

.inputting {
  animation-name: inputting;
  animation-duration: var(--inputting-duration);
  animation-timing-function: linear;
}

@keyframes inputting {
  from {
    transform: scale(1);
  }

  50% {
    transform: scale(0.9);
  }

  to {
    transform: scale(1);
  }
}

/* Tile contents */

.tile p {
  color: white;
  font-size: 2rem;
  font-weight: bold;
}

/* ===================================================== */
/* Keyboard                                              */
/* ===================================================== */

/* Containers */

.keyboard {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  row-gap: 1rem;
}

.keyboard-row {
  margin: 0px auto;
  display: flex;
  flex-direction: row;
  width: fit-content;
  gap: 0.4rem;
}

.keyboard-key {
  border-radius: 0.2rem;
  text-align: center;
  width: 4rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.keyboard-key.lgrey {
  background-color: var(--lgrey);
}

.keyboard-key.dgrey {
  background-color: var(--dgrey);
}

.keyboard-key.green {
  background-color: var(--green);
}

.keyboard-key.yellow {
  background-color: var(--yellow);
}

.keyboard-key.wide {
  background-color: var(--lgrey);
  width: 6rem;
}

/* Typography */

.keyboard-key p {
  color: white;
  font-size: 1.7rem;
  font-weight: bold;
  margin: 10px;
}

.keyboard-key.enter p {
  font-size: 1rem;
}

.keyboard-key.enter p {
  font-size: 1rem;
}
