/* ===================================================== */
/* Globals                                               */
/* ===================================================== */

:root {
  /* Colors */
  --green: #538d4e;
  --yellow: #b59f3b;
  --white: #ffffff;
  --black: #121213;
  --dgrey: #3a3a3c;
  --mgrey: #565758;
  --lgrey: #7f8182;
  /* Animations */
  --shake-duration: 600ms;
  --shake-left: -0.3rem;
  --shake-right: 0.3rem;
  --inputting-duration: 100ms;
  --flipping-duration: 200ms;
  --bounce-duration: 800ms;
  --tooltip-fade-duration: 500ms;
  /* Dimensions */
  --keyboard-key-base-width: 2.7rem;
}

* {
  margin: 0;
  padding: 0;
  user-select: none;
  color: white;
  animation-iteration-count: infinite;
}

body {
  background-color: var(--black);
}

p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

header {
  padding: 1rem 0;
  border-bottom: 1px solid #39393b;
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

@media screen and (max-width: 768px) {
  header {
    font-size: 1.2rem;
    padding: 0.5rem 0;
  }
}

html {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

/* ===================================================== */
/* Tiles                                                 */
/* ===================================================== */

/* The grid */

.tilegrid {
  --gap: 0.3rem;
  max-width: 340px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: var(--gap);
  grid-template-rows: repeat(6, 1fr);
  row-gap: var(--gap);
  margin: 0 auto 3rem auto;
  padding: 0 10px;
}

@media screen and (max-width: 768px) {
  .tilegrid {
    margin: 0 auto 1.5rem auto;
  }
}

/* The tiles */

.tile {
  background-color: var(--black);
  border: 0.15rem solid var(--dgrey);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1;
}

.tile.inputted {
  border-color: var(--mgrey);
}

.tile.grey {
  background-color: var(--dgrey);
  border-color: var(--dgrey);
}

.tile.yellow {
  background-color: var(--yellow);
  border-color: var(--yellow);
}

.tile.green {
  background-color: var(--green);
  border-color: var(--green);
}

.shaking {
  animation-name: shaking;
  animation-duration: var(--shake-duration);
}

@keyframes shaking {
  10%,
  90% {
    transform: translateX(-0.1rem);
  }
  20%,
  80% {
    transform: translateX(0.2rem);
  }
  30%,
  50%,
  70% {
    transform: translateX(-0.4rem);
  }
  40%,
  60% {
    transform: translateX(0.4rem);
  }
}

.flipping-down {
  animation-name: flipping-down;
  animation-timing-function: linear;
  animation-duration: var(--flipping-duration);
}

@keyframes flipping-down {
  from {
    transform: scaleY(1);
  }

  to {
    transform: scaleY(0);
  }
}

.flipping-up {
  animation-name: flipping-up;
  animation-timing-function: linear;
  animation-duration: var(--flipping-duration);
}

@keyframes flipping-up {
  from {
    transform: scaleY(0);
  }

  to {
    transform: scaleY(1);
  }
}

.inputting {
  animation-name: inputting;
  animation-duration: var(--inputting-duration);
  animation-timing-function: linear;
}

@keyframes inputting {
  from {
    transform: scale(1);
  }

  10% {
    transform: scale(0.905);
  }

  20% {
    transform: scale(1);
  }

  66% {
    transform: scale(1.1);
  }

  to {
    transform: scale(1);
  }
}

.bouncing {
  animation-name: bouncing;
  animation-duration: var(--bounce-duration);
  /* TODO timing function */
}

@keyframes bouncing {
  0%,
  20% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-1.875rem);
  }
  50% {
    transform: translateY(0.31rem);
  }
  60% {
    transform: translateY(-0.95rem);
  }
  80% {
    transform: translateY(0.125rem);
  }
  100% {
    transform: translateY(0);
  }
}

/* Tile contents */

.tile p {
  color: white;
  font-size: 1.7rem;
  font-weight: bold;
}

/* ===================================================== */
/* Keyboard                                              */
/* ===================================================== */

/* Containers */

.keyboard {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  row-gap: 0.5rem;
  margin: 0 auto;
  width: 100%;
}

.keyboard-row {
  margin: 0px auto;
  display: flex;
  flex-direction: row;
  gap: 0.4rem;
  width: 90%;
  max-width: 500px;
}

.keyboard-row#keyboard-row-1,
.keyboard-row#keyboard-row-3 {
  width: 100%;
  max-width: 550px;
}

.keyboard-key {
  flex: 1;
  border-radius: 0.2rem;
  text-align: center;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
  width: 100%;
}

.keyboard-key.normal {
  aspect-ratio: 0.8;
}

@media screen and (max-width: 768px) {
  .keyboard-key.normal {
    aspect-ratio: 0.7;
  }
}

.keyboard-key.wide {
  background-color: var(--lgrey);
  flex: 2;
}

.keyboard-key.unused {
  background-color: var(--lgrey);
}

.keyboard-key.grey {
  background-color: var(--dgrey);
}

.keyboard-key.green {
  background-color: var(--green);
}

.keyboard-key.yellow {
  background-color: var(--yellow);
}

/* Typography */

.keyboard-key p {
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
}

.keyboard-key.enter p {
  font-size: 0.8rem;
}

.keyboard-key.backspace p {
  font-size: 1.5rem;
}

/* Debugging */
.debug {
  background-color: red;
}

/* ===================================================== */
/* Tooltips                                              */
/* ===================================================== */

div.tooltip-anchor {
  height: 2.5rem;
  padding: 0.5rem 0 0 0;
  overflow-y: visible;
  position: relative;
  z-index: 100;
}

div.tooltip {
  opacity: 1;
  background-color: white;
  padding: 1rem;
  border-radius: 0.2rem;
  min-width: 10%;
  width: fit-content;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.tooltip.fade-in {
  animation: tooltip-fade-in var(--tooltip-fade-duration);
  animation-fill-mode: forwards;
}

@keyframes tooltip-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

div.tooltip.fade-out {
  animation: tooltip-fade-out var(--tooltip-fade-duration);
  animation-fill-mode: forwards;
}

@keyframes tooltip-fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

div.tooltip p {
  color: black;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.1rem;
  margin: 0 1rem;
}

@media screen and (max-width: 768px) {
  div.tooltip-anchor {
    height: 1.5rem;
  }

  div.tooltip {
    padding: 0.6rem 0.1rem;
  }

  div.tooltip p {
    font-size: 0.9rem;
  }
}
